* {
    box-sizing: border-box;
}

body {
    margin: 1%;
    padding: 1%;
    background-color: #ffffff;
    font-size: 100%;
}

img {
    width: 80%;
}

header,
footer {
    background-color: #0066FF;
    padding: 1%;
    margin: 1%;
    text-align: center;
}

header h1 {}

section {
    margin: 1%;
    padding: 1%;
    background-color: #e1e1e5;
}

nav a {
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
}

.activa {}

footer {
    font-size: 1.15em;
}

@media (min-width: 600px) {
    .contingut {
        float: left;
        width: 31.3%;
        /*la buena prueba y error XD*/
        height: 440px;
    }
    img {
        width: 80%;
    }
    footer {
        clear: both;
        width: 98%;
    }
}